#mainNav {
  background-color: fade-out($main-color-2, 0.1);
  @include heading-font;
  .navbar-brand {
    color: $primary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: fade-out($main-text-color-2, 0.3);

        font-weight: 800;
      }
      &.active {
        .nav-link {
          color: #c5d1eb;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-size: 0.9rem;
          &:hover {
            color: fade-out(#c5d1eb, 0.0);
          }
        }
        &.active {
          .nav-link:hover {
            color: #c5d1eb;
          }
        }
      }
    }
  }
}
