.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}

.input-group {
  #usr {
    display: inline-block;
    width: 40px;
    border-radius: .2rem;
    height: 36px;
    text-align: center;
    padding: 0px;
  }
  #usr2 {
    display: inline-block;
    width: 40px;
    border-radius: .2rem;
    height: 36px;
    text-align: center;
    padding: 0px;
  }
  button {
    padding: 0px 12px 0px 12px;
    span {
      font-size: 22px;
    }
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}

.order-buttons {
  padding: 5px;
  button {
    padding: 5px;
  }
}
.article-counter {
  margin: auto;
  width: 50%;
}

.order-button {
  display: block;
  margin: auto;
  font-size: 33px;
}

.order-remove-button {
  display: block;
  margin: auto;
  margin-top: 5px;
  font-size: 16px;
}